numpy=1.19.5
pandas~=1.3.5
pandas-datareader
seaborn~=0.11.2
matplotlib~=3.5.1
koapy~=0.6.2
kiwoom~=1.2.2
pykiwoom~=0.0.6
workalendar~=16.2.0
xlsxwriter
PySide2~=5.15.2
numpy~=1.19.5
PyQt5~=5.15.6
python-dateutil~=2.8.2